@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Next-Condensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}